.service-bg {
    background-color: black;
    margin-top: 110px;
    position: relative;
    color: white;
    padding: 4em 8em;
    border-top-left-radius: 5em;
    border-top-right-radius: 5em;
}


.lorem {
    margin-left: 59em;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-top: -60px;
    color: rgb(208, 204, 204);
    
}

.my-services {
    font-size: 40px;
}

.span {
    color: #fe5000;
}

.service-bar {
    position: relative;
        background-color: #686868;
        height: 3px;
        width: 78em;
        margin: 2em 0em 8em;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
}

.card-1{
    background-color: #3B3B3B;
    position: relative;
    width: 20%;
    padding: 30px;
    margin-top: -50px;
    border-top-right-radius: 2em;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 10em;
}

.box-head{
    margin: 10px 0px;
    
    font-family: 'Syne', sans-serif;
}

.box1{
    color: rgb(0, 0, 0);
    width: 200px;
    height: 250px;
    
}

@media (max-width: 768px) {
    .service-bg {
        background-color: black;
        margin-top: 10px;
        position: relative;
        color: white;
        padding: 4em 4em;
        display: flex;
        border-top-left-radius: 5em;
        border-top-right-radius: 5em;
        flex-direction: column;
    }
    
    .lorem {
        font-size: 12px;
        font-family: 'Open Sans', sans-serif;
        color: rgb(208, 204, 204);
        margin-left: -0.1em;
        margin-bottom: 10px;
        margin-top: 3px;
    }
    
    .my-services {
        font-size: 30px;
    }
    
    .span {
        color: #fe5000;
    }
    
    .service-bar {
        position: relative;
            background-color: #686868;
            height: 3px;
            width: 23em;
            margin-left: 3.9em;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
    }
}