/* Default styles */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.greeting {
    font-family: 'IBM Plex Mono', monospace;
    border: solid black 1px;
    border-radius: 29px;
    padding: 5px 15px;
    font-size: 20px;
    margin-bottom: 10px;
}

.sam {
    font-weight: bold;
    color: #fe5000;
}

h1 {
    font-family: 'Syne', sans-serif;
    margin-top: 5px;
    font-size: 65px;
}

.link-box {
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    margin-top: -17em;
    margin-left: -15px;
    padding: 3px;
    border-radius: 25px;
}

.portfolio {
    width: 9em;
    padding: 10px;
    border: none;
    font-family: 'Open Sans', sans-serif;
    border-radius: 25px;
    margin-right: 5px;
    cursor: pointer;
    background-color: #fe4519;
    color: white;
}


.hire-me {
    padding: 8px;
    width: 9em;
    background-color: white;
    border-radius: 25px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

.pic {
    width: 400px;
}

.pic-bg {
    width: 600px;
    height: 400px;
    background-color: #fe4519;
    margin-right: 50px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -320px;
}

.hero-texts {
    margin-top: -320px;
    margin-left: 70px;
    padding: 60px;
}

.quote {
    font-size: 30px;
    font-family: 'Syne', sans-serif;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: -10px;
    width: 40%;
}

.para {
    margin-top: -35px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.serve {
    margin-top: 30px;
    font-family: 'Syne', sans-serif;
    font-size: 35px;
}

.para-2 {
    margin-top: 12px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.hero-texts-2 {
    text-align: end;
    margin-right: 10em;
    margin-top: -16em;
    margin-left: 75em;
}

.para-3 {
    margin-top: 10px;
    font-family: 'Syne', sans-serif;
    font-size: 18px;
    border-bottom: 3px solid;
    padding-bottom: 8px;
}

.serve-2 {
    margin-top: 0px;
    font-family: 'Syne', sans-serif;
    font-size: 40px;
}

/* Large screens */
@media (min-width: 1024px) {
    h1 {
        font-size: 65px;
    }

    .pic {
        width: 450px;
        margin-top: -100px;
    }

    .pic-bg {
        width: 700px;
        height: 700px;
        margin-top: -350px;
    }

    .link-box {
        margin-top: -9em;
    }

    .hero-texts {
        margin-top: -320px;
    }

    .quote {
        font-size: 36px;
        width: 50%;
    }

    .serve {
        font-size: 40px;
    }

    .hero-texts-2 {
        margin-top: -16em;
        margin-left: 75em;
    }

    .serve-2 {
        font-size: 45px;
    }
}



@media (max-width: 768px) {
    h1 {
        font-family: 'Syne', sans-serif;
        margin-top: 5px;
        font-size: 35px;
    }

    
.pic { 
    width: 400px; /* Adjust the width to make the image bigger */
    height: auto; /* Automatically adjust the height to maintain aspect ratio */
    max-width: 100%; /* Optional, to ensure it doesn't exceed its container's width */
    max-height: 100%;
    margin-top: -70px;
}

.pic-bg {
    width: 450px;
    height: 450px;
    background-color:#fe5000;
    margin-top: -280px;
    margin-left: 40px;
    border-top-left-radius: 50%; /* Top left corner creates a circular shape */
    border-top-right-radius: 50%; /* Top right corner creates a circular shape */
    border-bottom-left-radius: 0; /* Bottom left corner makes it flat */
    border-bottom-right-radius: 0;
    margin-bottom: -100px;
    background-size: cover;
  }

  .link-box {
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    margin-top: -9em;
    margin-left: -15px;
    padding: 3px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.hero-texts,
  .hero-texts-2 {
    display: none;
  }
}