

.nav-desktop {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: #1c1c1c;
  }
  
  .nav-listing {
    list-style-type: none;
    margin-right: 20em;
    padding: 11px 20px;
    display: flex;
    text-decoration: none;
    color: white;
  }
  
  .nav-desktop li {
    margin-right: 30px;
    margin-top: 5px;
  }
  
  .naming {
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    font-size: 16pt;
    display: flex;
  }
  
  .naming h3{
    margin-top: 12px;
    margin-left: 5px;
  }
  
  li a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 10pt;
    color: white;
  }
  
  li a:hover {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 10pt;
    color: #fe5900;
  }
  
  .nav-button-desk {
    width: 9%;
    height: 45px;
    background-color: #d14900;
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    font-weight: 600;
    color: white;
    border: 0px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
  
  img {
    width: 10%;
  }