.testimonials {
    background-color: black;
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -ms-border-radius: 2em;
    -o-border-radius: 2em;
}

.result {
    color: #fe4519;
}

.test-head {
    padding: 1em 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.testimonial {
    font-family: 'Syne', sans-serif;
    margin-bottom: 0.3em;
    font-size: 35px;
    width: 12em;
    text-align: center;
    line-height: 45px;
    color: white;
}

.test-p {
    width: 45em;
    text-align: center;
    color: rgb(208, 204, 204);
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
}

.testing-array {
    display: flex;
}

.test-array-1 {
    background-color: #3B3B3B;
    padding: 1em;
    width: 45em;
    margin-top: 6em;
    height: 15em;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-right: 40px;
}

.test-array-2 {
    background-color: #3B3B3B;
    padding: 1em;
    width: 45em;
    margin-top: 3em;
    height: 15em;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.test-array-3 {
    background-color: #3B3B3B;
    padding: 1em;
    width: 45em;
    margin-top: 6em;
    margin-left: 40px;
    height: 15em;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}


.stars {
    display: flex;
    margin: 5px 0;
}

.stars img {
    width: 25px;
    height: 1.6em;
}

.stars h3 {
    font-size: 23px;
    margin-top: -1px;
    color: white;
    margin-left: 8px;
}

.test-para {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: rgb(208, 204, 204);
    margin-top: 15px;
}

.client-info {
    margin-top: 25px;
    display: flex;
    width: 160%;
}

.client-img {
    overflow: hidden;
    background-color: #fe4519;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.client-img img {
    width: 3.7em;
}

.client-name {
    margin-left: 20px;
    margin-top: 2px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.client-name h3 {
    font-size: 18px;
}

.client-name p {
    font-size: 15px;
    color: rgb(208, 204, 204);
    margin-top: 3px;
}

.quote {
    margin-left: 9em;
}

.test-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-top: -0.05em;
}

.test-btn {
    background-color: #262626;
    width: 5em;
    height: 5.1em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}

.test-btn-2 {
    background-color: #fe4519;
        width: 5em;
        height: 5.1em;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        cursor: pointer;
        margin-left: 20px;
}

.test-btn img {
    width: 2.5em;
    margin-top: 8px;
 }

 .test-btn-2 img {
    width: 2.5em;
    margin-top: 8px;
 }