.work {
    display: flex;
    flex-direction: column;
    padding: 4em 2em;
    justify-content: center;
    align-items: center;
    margin-bottom: -40px;
    margin-left: 5em;
}

.companies {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.experience {
    font-family: 'Syne', sans-serif;
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 50px;
}

.work-1, .work-2, .work-3 {
    display: flex;
    margin-bottom: 5em;
}

.company-1 {
    width: 70%;
    margin: 0em 10em 0em 5em;
    
}

.title-1{
    margin-bottom: 10px;
    font-family: 'Syne', sans-serif;
}

.title-2{
    margin-bottom: 10px;
    font-family: 'Syne', sans-serif;
}

.years {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    width: 75%;
}

.position-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 15em;
}

.position-2 {
    display: flex;
    flex-direction: column;
}

.intersection1 {
    width: 6.9em;
    height: 2.5em;
    background-color: rgb(244, 244, 244);
    border: 2px rgb(0, 0, 0) dotted;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.intersection2 {
    width: 2em;
    height: 2em;
    background-color: red;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-left: 3px;
    margin-top: 3px;
}

.intersection4 {
    width: 2em;
    height: 2em;
    background-color: #262626;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-left: 3px;
    margin-top: 3px;
}

.inter-bar-1 {
    position: relative;
    height: 19em;
    width: 0.1em;
    align-self: center;
    margin-left: -9.5em;
    margin-top: -15.8em;
    border: 2px black dotted;
    border-width: 2px;
}

.inter-bar-2 {
    position: relative;
    height: 19em;
    width: 0.1em;
    align-self: center;
    margin-left: -9.5em;
    margin-top: -17em;
    border: 2px black dotted;
    border-width: 2px;
}

@media (max-width: 769px) { 
    .work {
        display: flex;
        flex-direction: column;
        padding: 4em 0em;
        justify-content: center;
        align-items: center;
        margin-left: 4em;
    }
    
    .companies {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 120%;
    }

    .company-1 {
        width: 70%;
        margin: 0em 10em 0em 3em;
        
    }
    
    .experience {
        font-family: 'Syne', sans-serif;
        font-weight: 800;
        font-size: 30px;
        margin-bottom: 35px;
        margin-left: -35px;
        margin-top: -15px;
    width: 80%;
    text-align: center;
    }
    
    .work-1, .work-2, .work-3 {
        display: flex;
        margin-bottom: 5em;
        flex-direction: column;
    }
    
    
    .title-1{
        margin-bottom: 4px;
        font-family: 'Syne', sans-serif;
    }

    .title-2{
        margin-top: 2em;
        margin-bottom: 9px;
        font-family: 'Syne', sans-serif;
        font-size: 19px;
    }
    
    .years {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        width: 70%;
    }
    
    .position-1 {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 3em;
        font-size: 14px;
        margin-top: 10px;
    }
    
    .position-2 {
        display: flex;
        flex-direction: column;
    }
    
    .intersection1 {
        width: 1.5em;
        height: 1.6em;
        background-color: rgb(244, 244, 244);
        border: 2px rgb(0, 0, 0) dotted;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        margin-left: -em;
        margin-top: -3em;
    }
    
    .intersection2 {
        width: 0.9em;
        height: 1em;
        background-color: red;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        margin-left: 3px;
        margin-top: 3px;
    }
    
    .intersection4 {
        width: 0.9em;
        height: 1em;
        background-color: red;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        margin-left: 3px;
        margin-top: 3px;
    }


    .inter-bar-1 {
        position: relative;
        height: 22em;
        width: 0.1em;
        align-self: center;
        margin-left: -25.5em;
        margin-top: -23.2em;
        border: 2px black dotted;
        border-width: 2px;
        margin-bottom: -2px;
    }

    .inter-bar-2 {
        position: relative;
        height: 24em;
        width: 0.1em;
        align-self: center;
        margin-left: -25.5em;
        margin-top: -24.3em;
        border: 2px black dotted;
        border-width: 2px;
        margin-bottom: -2px;
    }
}
