.hire {
    padding: 5em 3em;
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -ms-border-radius: 2em;
    -o-border-radius: 2em;
}

.img-box {
    width: 30%;
    height: 28em;
    background-color: #fe4519;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
    margin-left: 3em;
    
}

.hire-img {
    width: 85%;
    overflow: hidden;
    margin-left: 2.5em;
}

.section-2 {
    margin-left: 10em;
    margin-top: em;
    width: 40%;
}

.why {
    font-family: 'Syne', sans-serif;
    margin-bottom: 0.6em;
    font-size: 35px;
    margin-left: -em;
}

.hire-span {
    font-family: 'Syne', sans-serif;
    color: #fe4519;
    background-color:#F0F0F0;
}

.description {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 26px;
    color: #4b4b4b;
}

.achieve {
    display: flex;
}

.complete-1 {
    margin-right: 5em;
}

.complete-1 p, .complete-2 p{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #4b4b4b;
}

.completion {
    font-family: 'Syne', sans-serif;
    font-size: 30px;
    margin-bottom: 5px;
}

.hire-btn {
    margin-top: 2.5em;
    padding: 11px 10px;
    width: 25%;
    font-weight: bol;
    font-size: 20px;
    border-color: #fe4519;
    color: #fe4519;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    cursor: pointer;
}

.hire-btn:hover {
    margin-top: 2.5em;
    padding: 13px 10px;
    width: 25%;
    font-weight: bol;
    font-size: 20px;
    border: none;
    background-color: #fe4519;
    color: white;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    cursor: pointer;
}

@media (max-width: 769px) { 
    .hire {
        padding: 3em;
        flex-direction: column;
        background-color: #F0F0F0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2em;
        -webkit-border-radius: 2em;
        -moz-border-radius: 2em;
        -ms-border-radius: 2em;
        -o-border-radius: 2em;
        overflow: hidden;
        margin-top: -1px;
    }

    .img-box {
        width: 110%;
        height: 22.5em;
        background-color: #fe4519;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        overflow: hidden;
        margin-bottom: -22px;
        margin-left: 1px;
    }

    .hire-img {
        width: 75.5%;
        overflow: hidden;
        margin-left: px;
    }
    
    .section-2 {
        margin-left: 1em;
        margin-top: 5em;
        width: 100%;
    }
    
    .why {
        font-family: 'Syne', sans-serif;
        margin-bottom: 0.4em;
        font-size: 21px;
        width: 150%;
        margin-top: -20.5px;
    }
    
    .hire-span {
        font-family: 'Syne', sans-serif;
        color: #fe4519;
        background-color:#F0F0F0;
    }
    
    .description {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        margin-bottom: 22px;
        text-align: justify;
    }
    
    .achieve {
        display: flex;
    }
    
    .complete-1 {
        margin-right: 3em;
    }
    
    .complete-1 p, .complete-2 p{
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
    }
    
    .completion {
        font-family: 'Syne', sans-serif;
        font-size: 26px;
        margin-bottom: 4px;
    }
    
    .hire-btn {
        margin-top: 1.5em;
        padding: 10px;
        width: 40%;
        border-color: #fe4519;
        color: #fe4519;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }
    
}